@font-face {
  font-family: NAMU;
  font-display: swap;
  src: url("../fonts/NAMU-1850.woff2") format("woff2"), url("../fonts/NAMU-1850.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: NAMU, Helvetica, Arial, sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: NAMU, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #272727;
  background-color: #FBFBFB;
  position: relative;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  width: 100%;
}

[class*=__container] {
  max-width: 1398px;
  margin: 0 auto;
  padding: 0 50px;
}

.title {
  font-family: NAMU, Helvetica, Arial, sans-serif;
  font-size: 64px;
  color: #272727;
  line-height: 77px;
}

.btn {
  padding: 14px 42px 16px;
  background-color: #fff;
  font-family: "NAMU";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  border: 1px solid #272727;
  border-radius: 38px;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
}

.header__logo {
  padding: 0 20px 0 0;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  gap: 42px;
  padding: 0 20px;
}

.menu__item {
  white-space: nowrap;
}

.menu__link {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.contact-us {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 0 0 0 20px;
  white-space: nowrap;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.s-home {
  position: relative;
  min-height: 100vh;
}

.home__container {
  position: relative;
  z-index: 2;
  padding: 234px 50px 0 50px;
}

.home__title {
  color: #fff;
  font-size: 64px;
  line-height: 77px;
  font-weight: 400;
  margin: 0 0 45px 0;
}

.home__subtitle {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 206px 0;
}

.home__advantages-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.adv-item {
  text-align: center;
}

.adv-item p {
  color: #fff;
  padding: 30px 0 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.full-screen__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -99;
}

.product__container {
  padding: 118px 50px 140px;
}

.product__title {
  margin: 0 0 72px 0;
}

.product__categories-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  -ms-grid-columns: minmax(-webkit-max-content, 630px) minmax(-webkit-max-content, 630px);
  -ms-grid-columns: minmax(max-content, 630px) minmax(max-content, 630px);
  grid-template-columns: minmax(-webkit-max-content, 630px) minmax(-webkit-max-content, 630px);
  grid-template-columns: minmax(max-content, 630px) minmax(max-content, 630px);
  gap: 30px;
}

.categories-block_item {
  background: #fff;
  border-radius: 20px;
}

.categories-block_item:nth-child(2) a {
  background-color: #1C8037;
  color: #fff;
  border: none;
}

.categories-block_item-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-column-span: 2;
  grid-column: span 2;
  -webkit-filter: drop-shadow(0px 4px 19px rgba(192, 192, 192, 0.25));
          filter: drop-shadow(0px 4px 19px rgba(192, 192, 192, 0.25));
}

.categories-block_item-1 {
  -webkit-filter: drop-shadow(0px 4px 19px rgba(192, 192, 192, 0.25));
          filter: drop-shadow(0px 4px 19px rgba(192, 192, 192, 0.25));
}

.categories-block_item-2 {
  -webkit-filter: drop-shadow(0px 4px 19px rgba(192, 192, 192, 0.25));
          filter: drop-shadow(0px 4px 19px rgba(192, 192, 192, 0.25));
}

.categories-block_item {
  position: relative;
}

.categories-block_item__title {
  color: #333333;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 80px;
  border-radius: 20px;
}

.categories-block_item__wrapper {
  margin: 38px 18px 68px 42px;
  position: relative;
}

.categories-block_item-1 div::before {
  content: "";
  position: absolute;
  background: url("../images/udobrenia.svg");
  background-size: 140px;
  width: 140px;
  height: 140px;
  right: 0;
  bottom: -50px;
  z-index: 50;
}

.categories-block_item-2 div::before {
  content: "";
  position: absolute;
  background: url("../images/chicken-1.svg");
  background-size: 140px;
  width: 140px;
  height: 140px;
  right: 75px;
  bottom: -50px;
  z-index: 50;
}

.categories-block_item-2 div::after {
  content: "";
  position: absolute;
  background: url("../images/chicken-2.svg");
  background-size: 64px;
  width: 64px;
  height: 64px;
  right: 0;
  bottom: 60px;
  z-index: 5;
}

.categories-block_item-3 div::before {
  content: "";
  position: absolute;
  background: url("../images/cow.svg");
  background-size: 250px;
  width: 250px;
  height: 200px;
  right: 205px;
  bottom: -50px;
  z-index: 50;
}

.categories-block_item-3 div::after {
  content: "";
  position: absolute;
  background: url("../images/cow-2.svg");
  background-size: 94px;
  width: 94px;
  height: 70px;
  right: 60px;
  bottom: 70px;
  z-index: 5;
}

.s-bestseller {
  padding: 0 50px 140px 50px;
}

.bestseller__container {
  position: relative;
}

.bestseller__title {
  margin: 0 0 80px 0;
}

.bestseller__all-products {
  margin-top: 48px;
  color: #333333;
  padding: 14px 42px 16px;
  background-color: #F7F7FA;
  border-radius: 38px;
}

.swiper-card {
  width: 1310px;
  overflow: hidden;
  padding-bottom: 50px;
  margin-left: 0;
  margin-right: 0;
}

.swiper-wrapper {
  position: relative;
}

.slide-card {
  height: 536px;
  padding-right: 37px;
}

.card-item__wrapper {
  padding: 20px 32px 42px;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 10px 10px rgba(192, 192, 192, 0.25);
          box-shadow: 10px 10px 10px 10px rgba(192, 192, 192, 0.25);
  border-radius: 20px;
}

.card-item__img {
  padding: 46px 87px;
}

.card-item__title {
  margin: 20px 0 42px;
}

.card-item__btn {
  padding: 14px 116px 18px;
  border: 1px solid #CCCCCC;
}

.swiper-card-buttons {
  position: absolute;
  right: 125px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  padding: 10px 15px;
  font-size: 15px;
  border: 1px solid #CCCCCC;
  border-radius: 100%;
}

.swiper-button-next:after:hover,
.swiper-button-prev:after:hover {
  color: #333333;
}

.swiper-card-button-prev {
  color: #CCCCCC;
  left: -50px;
}

.swiper-card-button-next {
  right: -50px;
  color: #CCCCCC;
}

.how-we-work__container {
  padding: 0 50px 50px;
}

.how-we-work__subtitle {
  margin: 72px 0 60px;
  font-weight: 400;
  font-size: 36px;
  line-height: 144%;
  color: #272727;
}

.how-we-work__subtitle span {
  color: #1C8037;
}

.how-we-work__info {
  font-weight: 400;
  font-size: 24px;
  line-height: 144%;
  color: #B3B3B3;
  margin-bottom: 100px;
}

.how-we-work__block-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(-webkit-max-content, 257px) minmax(-webkit-max-content, 195px) minmax(-webkit-max-content, 342px);
  -ms-grid-columns: minmax(max-content, 257px) minmax(max-content, 195px) minmax(max-content, 342px);
  grid-template-columns: minmax(-webkit-max-content, 257px) minmax(-webkit-max-content, 195px) minmax(-webkit-max-content, 342px);
  grid-template-columns: minmax(max-content, 257px) minmax(max-content, 195px) minmax(max-content, 342px);
}

.hww-block__item {
  font-weight: 400;
  font-size: 20px;
  line-height: 144%;
  height: 150px;
}

.hww-block__item p {
  padding-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 144%;
  color: #B3B3B3;
}

.hww-block__item:nth-child(1) {
  text-align: right;
}

.hww-block__item:nth-child(7) {
  text-align: right;
}

.hww-block__item:nth-child(13) {
  text-align: right;
}

.green-ball {
  background: -webkit-gradient(linear, left top, left bottom, from(#1C8037), to(#76C043));
  background: -o-linear-gradient(top, #1C8037 0%, #76C043 100%);
  background: linear-gradient(180deg, #1C8037 0%, #76C043 100%);
  height: 48px;
  width: 48px;
  border-radius: 100%;
  text-align: center;
  margin: auto;
  color: #fff;
  padding-top: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
}

.reviews__container {
  position: relative;
  padding: 0 50px 144px;
}

.reviews__title {
  margin-bottom: 72px;
}

.swiper-reviews {
  width: 1320px;
  overflow: hidden;
}

.slide-reviews {
  background: #fff;
  -webkit-box-shadow: 0px 14px 19px rgba(192, 192, 192, 0.25);
          box-shadow: 0px 14px 19px rgba(192, 192, 192, 0.25);
  border-radius: 20px;
  max-width: 632px;
  margin-right: 34px;
}

.reviews-item__wrapper {
  padding: 48px 44px;
}

.reviews-item__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-item__name {
  padding: 0 0 0 20px;
}

.reviews-item__info {
  max-width: 500px;
  padding-top: 40px;
}

.reviews-item__date {
  padding: 56px 0 0 0;
}

.swiper-reviews-buttons {
  position: absolute;
  bottom: 80px;
  right: 125px;
}

.swiper-reviews-button-prev {
  left: -50px;
  color: #cccccc;
}

.swiper-reviews-button-next {
  right: -50px;
  color: #CCCCCC;
}

.swiper-slide {
  padding-right: 34px;
}

.footer {
  background: -o-linear-gradient(170deg, #289345 1.46%, #235433 98.84%), #F7F7FA;
  background: linear-gradient(280deg, #289345 1.46%, #235433 98.84%), #F7F7FA;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.footer__container {
  padding: 64px 132px 44px 50px;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 36px 0 84px;
}

.footer__bottom-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: rgba(255, 255, 255, 0.48);
  font-size: 16px;
}

.footer__bottom-block-privacy {
  color: rgba(255, 255, 255, 0.48);
}

.title-footer-block {
  color: rgba(255, 255, 255, 0.48);
  font-size: 16px;
  line-height: 19px;
}

.block-footer-item:nth-child(1) {
  padding: 50px 0 0 0;
}

.block-footer-item {
  padding: 0 0 20px 0;
  color: #F7F7FA;
}

.block-footer-item:nth-child(1) {
  padding: 16px 0 20px 0;
}

.block-footer-link {
  color: #F7F7FA;
}

.developed-by a {
  color: rgba(255, 255, 255, 0.48);
  font-size: 18px;
}

.developed-by span {
  color: #F7F7FA;
  padding-left: 8px;
}

/* Desktop */

/* Laptop L   1440px */

/*            1200px */

/* Laptop *   1024px */

/* Tablet *   768px */

/*            575px */

/* Mobile L   425px */

/* Mobile M   375px */

/* Mobile S   320px */

/* width/1920 * 62.5  for adaptive */

@media all and (max-width: 1920px) {
  html {
    font-size: 62.5%;
  }
}

@media all and (max-width: 1600px) {
  html {
    font-size: 62.0833333333%;
  }
}

@media all and (max-width: 1440px) {
  html {
    font-size: 58.875%;
  }
}

@media all and (max-width: 1200px) {
  html {
    font-size: 56.0625%;
  }
}

@media all and (max-width: 1024px) {
  html {
    font-size: 50.3333333%;
  }
}

@media all and (max-width: 768px) {
  html {
    font-size: 46%;
  }
}

@media all and (max-width: 575px) {
  html {
    font-size: 40.7174479%;
  }
}

@media all and (max-width: 425px) {
  html {
    font-size: 36.7174479%;
  }
}

@media all and (max-width: 375px) {
  html {
    font-size: 30.7174479%;
  }
}

@media all and (max-width: 320px) {
  html {
    font-size: 25, 41666666666667%;
  }
}